# Master Repo Owners

* @ICSEng/edu-si-engineering

# Environment and Configuration

/.editorconfig                  @ICSEng/edu-si-repo-maintenance
/.vsconfig                      @ICSEng/edu-si-repo-maintenance
/.gitattributes                 @ICSEng/edu-si-repo-maintenance
/.gitignore                     @ICSEng/edu-si-repo-maintenance
/.devcontainer/                 @ICSEng/edu-si-repo-maintenance
/.github/                       @ICSEng/edu-si-repo-maintenance
/.sonarlint/                    @ICSEng/edu-si-repo-maintenance
/.vscode/                       @ICSEng/edu-si-repo-maintenance
/containers/                    @ICSEng/edu-si-repo-maintenance

# Documentation

/CONTRIBUTING.md                @ICSEng/edu-si-repo-maintenance
/README.md                      @ICSEng/edu-si-repo-maintenance

# Source Code

/src/                           @ICSEng/edu-si-engineering

# Pipeline

/devops/                        @ICSEng/edu-se-engineers

# Access Control

/CODEOWNERS                     @ICSEng/edu-si-repo-admins
